section.home-6(class="py-10 lg:py-20 bg-cover bg-center overflow-hidden lg:rem:min-h-[540px] flex flex-col justify-center items-center" setBackground="http://unsplash.it/1920/540?random&gravity=center")
    .container
        .text-center
            h2(class="text-5xl font-medium leading-snug text-white  font-oswald max-md:text-3xl text-center mb-3") Nơi nuôi dưỡng tài năng, kiến tạo thành công
            p(class="text-lg text-white") Hãy cùng Megabuild kiến tạo nên những công trình vĩ đại và những giá trị bền vững cho cộng đồng.
            a(href="/about-us" class="btn btn-primary mt-10 lg:mt-15") Đăng Ký Tuyển Dụng
