section.about-5(class="bg-[#fcfcfc] py-20")
    .container 
        .heading(class="flex flex-col items-center justify-center") 
            +title("Sơ đồ tổ chức")
            .board(class="mt-10 bg-Primary/Red px-5 py-3 rounded-lg flex flex-col gap-1 items-center") 
                h3(class="text-xl font-bold leading-7 font-oswald text-Neutral/White") Board of management
                span(class="text-lg font-normal rem:leading-[26px] text-Neutral/White") Hội đồng quản trị
            .line 
                img(src="./img/arrow-line.png", alt="")
            .board(class="bg-Primary/Blue px-5 py-3 rounded-lg flex flex-col gap-1 items-center") 
                h3(class="text-xl font-bold leading-7 font-oswald text-Neutral/White") Board of directors
                span(class="text-lg font-normal rem:leading-[26px] text-Neutral/White") Ban Giám đốc
            .line 
                img(src="./img/Line 17.png", alt="")
        .line-top(class="w-[89%] mx-auto h-[1px] bg-[#818181] flex justify-between relative") 
        .box-list(class="grid grid-cols-10 gap-3 w-full px-4 justify-between") 
            .box-item(class="flex flex-col items-center first:ml-0")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
            .box-item(class="flex flex-col items-center last:mr-0")
                .line 
                    img(src="./img/Line 17.png", alt="")
                .box 
                    h3 Accounting Dept.
                    p Phòng Kế toán
                .line 
                    img(src="./img/Line 17.png", alt="")
        .line-top(class="w-[89%] mx-auto h-[1px] bg-[#818181] flex justify-between relative")
        .line(class="flex items-center justify-center") 
            img(src="./img/Line 17.png", alt="")
        .about-5-bottom(class="flex flex-col gap-1 px-3 py-5 rounded-lg bg-Neutral/White border border-neutral-200 justify-center items-center") 
            
            h3 Construction site
            span Các công trường 