section.about-7(class="lg:py-20 py-10")
    .container 
        .grid(class="lg:grid-cols-2 lg:gap-20 gap-10 items-center")
            .grid-item
                .image(class="lg:-ml-5")
                    figure
                        img(src="http://unsplash.it/680/760?random&gravity=center", alt="").w-full
            .grid-item
                .flex.flex-col.gap-10
                    .item
                        +title("Về chúng tôi")
                        .description.mt-5
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                    .item
                        +title("Về chúng tôi")
                        .description.mt-5
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.

