section.home-2(class="pt-10 lg:pt-20")
    .container
        h2(class="text-5xl font-medium leading-snug text-Second/950 font-oswald max-md:text-3xl text-center mb-8 lg:mb-10") Dịch vụ
    .grid(class="lg:grid-cols-2 grid-cols-1 rem:gap-[2px]")
        .col-span-1
            .item.relative
                figure
                    img(src="https://via.placeholder.com/960x762", alt="")
                .caption(class="absolute bottom-0 left-0 w-full lg:py-15 lg:px-8 p-8 text-center z-2")
                    h3(class="lg:rem:text-[32px] rem:text-[24px] font-medium font-oswald text-white") Tổng thầu thi công
        .col-span-1
            .item.relative
                figure
                    img(src="https://via.placeholder.com/960x762", alt="")
                .caption(class="absolute bottom-0 left-0 w-full lg:py-15 lg:px-8 p-8 text-center z-2")
                    h3(class="lg:rem:text-[32px] rem:text-[24px] font-medium font-oswald text-white") Tổng thầu thi công
