section.home-5(class="py-10 lg:py-20")
    .container
        h2(class="text-5xl font-medium leading-snug text-Second/950  font-oswald max-md:text-3xl text-center mb-8") Đối tác - Khách hàng
        div(class="lg:w-5/6 mx-auto text-gray-500 text-center mb-10")
            | Vừa qua, tại Công trường Dự án Suncasa Central Tân Uyên, Bình Dương, Công ty Cổ phần Megabuild tự hào khi được Đài truyền hình Tỉnh Bình Dương chọn là đơn vị tuyên dương trong việc xây dựng và đảm bảo môi trường làm việc an toàn – vệ sinh lao động. Bằng những hệ thống, quy trình, chính sách và hơn nữa là cả đội ngũ nhân sự có chuyên môn cao về an toàn lao động – vệ sinh môi trường, Chúng tôi sẽ chung tay cố gắng phát huy hơn nữa trong việc bảo đảm môi trường làm việc an toàn, hiệu quả.
    .partner-slider
        .container
            .relative
                .wrap-button-slide(class="hidden lg:block")
                    .btn-prev(class="lg:rem:w-[48px] lg:rem:h-[48px] flex items-center justify-center rounded-full border border-Primary/Blue text-Primary/Blue rem:text-[24px]")
                        em.fal.fa-chevron-left
                    .btn-next(class="lg:rem:w-[48px] lg:rem:h-[48px] flex items-center justify-center rounded-full border border-Primary/Blue text-Primary/Blue rem:text-[24px]")
                        em.fal.fa-chevron-right
                div(class="lg:w-1/3 mx-auto lg:rem:px-[54px]")
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                .partner-item
                                    .partner-item-image
                                        figure(class="ratio:pt-[66_92] relative")
                                            img(src="http://unsplash.it/92/66?random&gravity=center", alt="" class="absolute inset-0 w-full h-full object-contain")
                                    .partner-item-content
                                        div(class="text-lg font-bold") Ông Vũ Minh Hiền
                                        div(class="text-base mt-1") Phó giám đốc Hospital FV
                            .swiper-slide
                                .partner-item
                                    .partner-item-image
                                        figure(class="ratio:pt-[66_92] relative")
                                            img(src="http://unsplash.it/92/66?random&gravity=center", alt="" class="absolute inset-0 w-full h-full object-contain")
                                    .partner-item-content
                                        div(class="text-lg font-bold") Ông Vũ Minh Hiền
                                        div(class="text-base mt-1") Phó giám đốc Hospital FV
            .swiper-pagination.custom-pagination.justify-center.mt-10
    .partner-thumb-slider.mt-10
        .swiper
            .swiper-wrapper
                - for (var i = 0; i < 10; i++)
                    .swiper-slide
                        .partner-thumb-item
                            figure(class="ratio:pt-[96_192] relative")
                                img(src="http://unsplash.it/92/66?random&gravity=center", alt="" class="absolute inset-0 w-full h-full object-contain")
