.partner-slider
	.partner-item
		display: grid
		padding: rr(12px)
		grid-template-columns: rr(92px) 1fr
		gap: rr(20px)
		@apply border border-gray-200 rem:rounded-[12px]
		&-content
			padding-left: rr(20px)
			@apply border-l border-gray-200
