section.about-2(class="pt-20 relative flex justify-between gap-20 overflow-hidden")
    .about-image-2(class="absolute -right-[60px] -bottom-[19rem] -z-20")
        img(src="./img/about-2-bg.png", alt="" class="w-[530px]")
    .about-image(class="w-[45%] flex flex-col justify-end") 
                img(src="./img/about-bg.png", alt="" class="w-full")
    .about-main(class="w-[55%] rem:pr-[262px] pb-28") 
        .about-right(class="pb-10")
            .about-content 
                +title("Về Megabuild")
                .about-title(class="p-6 rounded-xl bg-linear-7 text-2xl font-medium leading-8 text-Neutral/White font-oswald my-6") MEGABUILD là đơn vị uy tín trong lĩnh vực thi công xây dựng trọn gói
                p(class="text-lg font-normal rem:leading-[26px] text-neutral-900") 
                | Megabuild là Công ty phát triển mạnh tại Việt Nam trong những năm qua. Chúng tôi thành công trong thiết kế và thi công nhiều loại công trình xây dựng khác nhau. 
                br
                | Chúng tôi đã vượt ngoài sự mong đợi của hơn 100 chủ đầu tư dự án tại Việt nam nhờ phương pháp xây dựng và quản lý đạt chuẩn quốc tế từ đội ngũ chuyên gia dày dặn kinh nghiệm. Không chỉ hướng đến một công trình hoàn mỹ và chất lượng, Megabuild còn đặt mục tiêu cao hơn khi tạo ra giá trị và trải nghiệm liền mạch cho đối tác từ khâu Thiết kế - Thi công - Bàn giao, luôn đạt tiêu chí Đúng hạn - Tiết kiệm - Chất lượng cao. Đồng hành chặt chẽ cùng quý đối tác là đội ngũ thi công, thiết kế hiểu rõ các quy chuẩn xây dựng trong và ngoài nước. Tư vấn, đảm bảo mọi thủ tục phê duyệt từ cơ quan chức năng được tiến hành một cách thuận lợi, giúp dự án diễn ra suôn sẻ và đạt chất lượng tối ưu
            .about-bottom(class="mt-10 grid grid-cols-3 gap-9") 
                +aboutItem("./img/icon-1.png", "13+", "Kinh nghiệm")
                +aboutItem("./img/icon-2.png", "100+", "Tỷ vốn điều lệ")
                +aboutItem("./img/icon-3.png", "200+", "Dự án")