section.about-4(class="py-20 relative") 
    .vector(class="absolute bottom-0 right-0") 
        img(src="./img/earth.png", alt="" class="rem:w-[778px] h-full")
    .container 
        .heading 
            +title("Giá trị cốt lõi")
            p(class="mt-5 text-lg font-normal rem:leading-[26px] text-neutral-900") CHẤT LƯỢNG - UY TÍN - SÁNG TẠO - HIỆU QUẢ
        .about-4-list(class="relative grid grid-cols-3 gap-40 mt-5") 
            .about-line(class="absolute left-0 bottom-[8.5rem] -z-20") 
                img(src="./img/line.png", alt="" class="w-full")
            .about-4-item(class="mt-28") 
                .about-4-image(class="relative mb-5 overflow-hidden rounded-lg") 
                    a(href="#" class="ratio:pt-[300_300] overflow-hidden rounded-lg") 
                        img(src="./img/about-4-1.png", alt="" class="w-full h-full rounded-lg hover:scale-105 transition-all ease-in-out duration-500")
                    .about-4-number(class="absolute bottom-0 p-6 bg-Primary/Red border border-Neutral/White rounded") 
                        span(class="text-32 font-oswald text-white font-bold leading-10") 01
                p(class="text-lg font-normal text-neutral-900 rem:leading-[26px]") Công ty cam kết đưa ra các giải pháp xây dựng 
                    span(class="text-Primary/Blue font-bold text-lg rem:leading-[26px]") độc đáo , sáng tạo, và hiệu quả 
                    span để đáp ứng nhu cầu của khách hàng và đóng góp vào sự phát triển bền vững của xã hội. Megabuild luôn đặt chất lượng lên hàng đầu, đảm bảo tính an toàn và đúng tiến độ trong mỗi dự án.

            .about-4-item(class="mb-28") 
                .about-4-image(class="relative mb-5") 
                    a(href="#" class="ratio:pt-[300_300]") 
                        img(src="./img/about-4-2.png", alt="" class="w-full h-full rounded-lg")
                    .about-4-number(class="absolute bottom-0 p-6 bg-Primary/Red border border-Neutral/White rounded") 
                        span(class="text-32 font-oswald text-white font-bold leading-10") 02
                p(class="text-lg font-normal text-neutral-900 rem:leading-[26px]") Công ty cũng luôn 
                    span(class="text-Primary/Blue font-bold text-lg rem:leading-[26px]") đổi mới, sáng tạo và tìm kiếm những cách tiếp cận mới 
                    span trong lĩnh vực xây dựng để đáp ứng nhu cầu của khách hàng.
            .about-4-item(class="-mt-28") 
                .about-4-image(class="relative mb-5") 
                    a(href="#" class="ratio:pt-[300_300]") 
                        img(src="./img/about-4-3.png", alt="" class="w-full h-full rounded-lg")
                    .about-4-number(class="absolute bottom-0 p-6 bg-Primary/Red border border-Neutral/White rounded") 
                        span(class="text-32 font-oswald text-white font-bold leading-10") 03
                p(class="text-lg font-normal text-neutral-900 rem:leading-[26px]") Và cuối cùng, Megabuild cũng đặt 
                    span(class="text-Primary/Blue font-bold text-lg rem:leading-[26px]") trách nhiệm 
                    span lên hàng đầu, đảm bảo việc xây dựng được thực hiện đúng quy định, luôn tôn trọng môi trường và cộng đồng.
