section.home-1(class="lg:py-20 py-10 bg-gray-50")
    .container
        .grid(class="grid-cols-12 gap-10")
            .col-span-12(class="lg:col-span-8")
                h1(class="text-5xl font-medium rem:leading-[48px] text-Second/950 font-oswald max-md:text-3xl") Chúng tôi thành công trong thiết kế và thi công nhiều loại công trình xây dựng khác nhau.
                p(class="text-lg mt-5 leading-snug") Có mặt từ năm 2011, Megabuild là đơn vị uy tín trong lĩnh vực thi công xây dựng trọn gói. Chúng tôi đã vượt ngoài sự mong đợi của hơn 100 chủ đầu tư dự án tại Việt nam nhờ phương pháp xây dựng và quản lý đạt chuẩn quốc tế từ đội ngũ chuyên gia dày dặn kinh nghiệm. Không chỉ hướng đến một công trình hoàn mỹ và chất lượng, Megabuild còn đặt mục tiêu cao hơn khi tạo ra giá trị và trải nghiệm liền mạch cho đối tác từ khâu Thiết kế - Thi công - Bàn giao, luôn đạt tiêu chí Đúng hạn - Tiết kiệm - Chất lượng cao.
                .item-list.flex.flex-wrap.mt-5(class="lg:rem:mx-[-60px] rem:mx-[-16px]")
                    .item
                        figure
                            img(src="https://via.placeholder.com/300x200", alt="")
                    .item
                        figure
                            img(src="https://via.placeholder.com/300x200", alt="")
                    .item
                        figure
                            img(src="https://via.placeholder.com/300x200", alt="")
                a(href="", class="btn btn-primary mt-5 lg:mt-10") Tìm Hiểu Thêm
            .col-span-12(class="lg:col-span-3 lg:col-start-10")
                .flex.flex-col(class="lg:gap-15 gap-8")
                    .stat-item.font-oswald
                        .number(class=" lg:rem:text-[52px] rem:text-[32px] font-medium text-Primary/Red") 100+
                        .text(class="text-xl font-medium mt-3 pt-3 border-t border-gray-400 text-Second/950") Kinh nghiệm
                    .stat-item.font-oswald
                        .number(class=" lg:rem:text-[52px] rem:text-[32px] font-medium text-Primary/Red") 100+
                        .text(class="text-xl font-medium mt-3 pt-3 border-t border-gray-400 text-Second/950") Kinh nghiệm
                    .stat-item.font-oswald
                        .number(class=" lg:rem:text-[52px] rem:text-[32px] font-medium text-Primary/Red") 100+
                        .text(class="text-xl font-medium mt-3 pt-3 border-t border-gray-400 text-Second/950") Kinh nghiệm
