section.about-3(class="py-20 bg-Second/50") 
    .container 
        .about-3-main(class="flex justify-between rem:gap-[50px]") 
            .about-3-left(class="w-2/4 flex flex-col gap-10")
                +aboutSection3("./img/icon-4.png", "Tầm nhìn", "Công ty xây dựng Megabuild có tầm nhìn trở thành một trong những công ty hàng đầu trong lĩnh vực xây dựng tại Việt Nam, với sự cam kết cung cấp các giải pháp xây dựng độc đáo và chất lượng cao cho khách hàng. Tầm nhìn của Megabuild là xây dựng độc đáo và chất lượng cao cho khách hàng. Tầm nhìn của Megabuild là xây dựng một tương lai tươi đẹp cho Việt Nam, bằng cách tạo ra các công trình đẳng cấp thế giới và đóng góp vào sự phát triển bền vững của đất nước.")
                +aboutSection3("./img/icon-5.png", "Sứ mệnh", "Sứ mệnh của Megabuild là cung cấp các dịch vụ xây dựng chất lượng cao, đảm bảo tính an toàn và đúng tiến độ, đồng thời đảm bảo sự hài lòng của khách hàng. Công ty cam kết tạo ra các giải pháp xây dựng độc đáo, sáng tạo và hiệu quả để đáp ứng nhu cầu của khách hàng và đóng góp vào sự phát triển bền vững của xã hội.")
            .about-3-right(class="w-2/4 flex rem:gap-[10px]")
                .about-3-image(class="mb-25 overflow-hidden rounded-xl") 
                    img(src="./img/about-3-1.png", alt="" class="w-full h-full rounded-xl hover:scale-105 transition-all")
                .about-3-image(class="mt-25") 
                    img(src="./img/about-3-1.png", alt="" class="w-full h-full rounded-xl")
